<div style="padding: 10px;">
	<% unless @visit_histories.blank? %>
		<% @visit_histories.each do |history| %>
		<div style="padding: 10px 0; font-size: 16px;">
			<a style="text-decoration:none; width:100%; display:inline-block;" href="<%=history.url%>">
				<%=history.title%>
			</a>
		</div>
		<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
		<% end %>
	<% else %>
		<div style="text-align: center; padding: 50px 0;font-size: 18px; color: gray;">아직 데이터가 없습니다.</div>
		<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
	<% end %>
</div>