<div style="padding: 10px">
	<%= collection_select("sns", "id" , @sns_list, :id, :name, {:selected => @sns_id},{:onchange => "javascript:change_sns_id();", :style => "width:100%; padding:10px;"} )%>
</div>
<div style="padding: 10px;">
	<table style="width: 100%;">
		<tr>
			<td style="width: 85%;"><input style="width:90%; padding: 10px;" id="user_push_key" type="text" placeholder="push 키워드 입력" /></td>
			<td style="text-align: left;"><input style="padding:10px;" onclick="javascript:add_user_push_key();" type="button" value="입력" /></td>
		</tr>
	</table>
</div>
<div style="padding: 10px;">
	<table border=1 style="width: 100%;">
		<% @user_push_keys.each do |key| %>
		<tr id="<%=key.id%>" %>
			<td style="width: 90%;"><%=key.sns_push_key.key%></td>
			<td style="text-align: center;">
				<input style="padding: 10px;" onclick="javascript:delete_push_key(<%=key.id%>);" type="button" value="삭제" />
			</td>
		</tr>
		<%end%>
	</table>
</div>
<script>
	function add_user_push_key() {
		var user_push_key = $("#user_push_key").val();
		if (confirm("데이터를 입력 하겠습니까?") == true){    //확인
			var sns_id = $("#sns_id").val();
			$.ajax({
			   url: "/user_push_keys/add_user_push_key",
			   data: {sns_id: sns_id, user_push_key: user_push_key},
			   dataType:'json',
			   type:'POST',
			   success: function(data){
			   	location.reload();
			   }
			});
		}
	}
	
	function delete_push_key(key_id){
		if (confirm("데이터를 삭제 하겠습니까?") == true){    //확인
			var sns_id = $("#sns_id").val();
			$.ajax({
			   url: "/user_push_keys/delete_user_push_key",
			   data: {key_id: key_id},
			   dataType:'json',
			   type:'DELETE',
			   success: function(data){
			   	location.reload();
			   }
			});
		}
		
	}
	
	function change_sns_id() {
		var sns_id = $("#sns_id").val();
		location.href = "/user_push_keys?sns_id=" + sns_id;
	}

	
</script>
