<!DOCTYPE html>
<html>
<head>
  <title>SnsPush</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= csrf_meta_tags %>
</head>
<body style="margin:0;">
<div style="width:100%; margin: 0 auto; padding-bottom: 50px;">
<%= yield %>
</div>
<div  style="width:100%; height: 50px; background-color: #3F51B5; color: white; line-height: 50px; position: fixed; bottom:0px;">
	<table style="width:100%;  height:50px;">
		<tr>
			<td onclick="javascript:go_ppomppu('ppomppu');" style="width:50%; text-align:center;">뽐뿌 게시판</td>
			<td onclick="javascript:go_ppomppu('freeboard');" style="width:50%; text-align:center;">자유 게시판</td>
		</tr>
	</table>
</div>


</body>
</html>

<script>
	function go_ppomppu(page_id) {
		window.HTMLOUT.go_ppomppu(page_id);
	}
</script>
